- content_for :hero do
  = render "/2013/hero-page"

.section.wargame
  /.obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  /.obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  /.obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  /.obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  /.obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  /.obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  /.obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  /.obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  /.obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  /.obj-password-cracker.obj{ :"data-type" => "PasswordCracker"}
  %img.separator(src="../images/separator.png")
  %br
  %h2.title Wargame : CTF
  
  .content.zh-tw
    .title-wrapper
      %h3.title
        .span 關於 Wargame 競賽
    :markdown

      Wargame 競賽一直是台灣駭客年會的重點項目。從第一屆以來，每屆白熱化的戰爭都聚集了不少資安的人才前來一較高下。在 2011 年開始，甚至有國外的駭客好手前來挑戰。資安駭客技術在國內一直是隱晦的技術，因為法律限制以及國情不同，無法像國外一樣光明正大的進行交流。因此，台灣駭客年會設立了 Wargame 競賽，提供一個正當且合法的環境讓大家來挑戰切磋。希望台灣能夠聚集這些資安能量，好好為我們台灣的安全奮鬥！

      你想成為駭客嗎？你想展現你的實力嗎？你想跟真正的駭客交手嗎？  
      歡迎來挑戰！

      #### 時間地點 TBA

      #### 競賽說明 TBA


  .content.en
    .title-wrapper
      %h3.title
        .span About Wargame
    :markdown

      Do you want to be a hacker? Do you want to show your skills? Do you want to fight with real hackers?

      Come and fight with us!

      #### Date and time TBA

