.hitcon2015cmtlogo {margin:0 auto;}
.separator {margin:0 auto;}
.page {background:none!important;}
.section a {color:black;}
.call-for-paper .btn {background:$green;}
.menu-item {;}
/*hgroup {display:none!important;}*/
.session.room-rest .title,
.session.room-all .title,
.session .speaker,
.session time
{color:#000;}

.registration .btn, {background:$green;border-radius:10px;border:2px solid #fff;}

