
.hero {
  display: block;
  background: image-url("hero.png") repeat-x center top;
  @include at-breakpoint($desktop) {
    display: block;
    height: 500px;
    background: image-url("hero.png") repeat-x center top;
    .slogan {
      display: block;
    }
    a {
      position: absolute;
      top: 400px;
      width: 100%;
      @include transition(.3s);
      &:hover {
        background: rgba(white,.7);
      }
    }
    hgroup {
    text-align:center;
      background: block;
      @include replace-text-with-svg("logo-large");      

      .title {
        background: block;
      }
      width: 600px - 2px;
      height: 100px - 1px;
      overflow: hidden;
      margin: 0 auto;
    }
  }
}


.hero-page {
  a {
    display: block;
  }
  @include at-breakpoint($desktop) {
    display: block;
    height: 100px;
    padding-top: 0px;
    background: image-url("logo-large.svg") no-repeat center bottom;
    bac
    .slogan {
      display: block;
    }
    a {
      @include transition(.3s);
      &:hover {
        background: rgba(yellow,.3);
      }
    }
    hgroup {
    display:block;
      .title {
        background: block;
        @include replace-text-with-svg("logo-large");
        margin: 0 auto;
      }
      width: 600px - 2px;
      height: 100px - 1px;
      overflow: hidden;
      margin: 0 auto;
      text-align:center;
    }
  }  
}
