.main-menu {
  .title {
    padding: 0 $base-line-height / 2;
    font-size: 20px;
    line-height: $base-line-height * 2 - 1px;
    border-bottom: 0px solid $yellow;
    position: relative;
    z-index: 99;
    color: $white;
    background: $green;  
  }
  .menu-item {
    list-style: none;
    background:$green;
    padding:0px;
    margin:0px!important;
    a {
      line-height: $base-line-height * 2 - 1px;
      text-indent:30px;
      @include transition(background-color .3s .3s);
      @include unstyled-link;
      @include link-colors($white);
      display:flex;
      &:active {
        color: $black;
        background: rgba($white,.1);
        border: 1px solid $white;
        border-width: 1px 0;
        margin: -1px 0;
        position: relative;
        z-index: 100;
      }
    }
  }
  @include at-breakpoint($desktop) {
    @include leader(1);
    @include trailer(1);
    .title {
      display: none;
    }
    ul {
      @include pie-clearfix;
      background:$green;
    }
    .menu-item {
      width:16.6%!important;
      // @include isolate-grid(2);
      @include span-columns(2);
      @include nth-omega;
      background: $green;      
      line-height: $base-line-height - 1px;
      text-align: center;
      position: relative;
      display:inline-block;
      @include transition(border-color .3s .3s);
      &:hover {
        border-color: $white;
      }
      a {
        position: relative;
        top: 0;
        display: inline-block;
        font-size: 15px;
        line-height: $base-line-height - 1px;
        background: $green;
        width:100%;
        padding:1em 0;
        text-indent:0;
        @include link-colors($white);
        @include transition( background-color .3s );
        border:1px solid $green;
        &:hover {
          background: $white;
          color: $green;
          text-shadow: 0 0 5px rgba($white, 1);
          border:1px solid $green;
        }
      }
      &:first-child {
        display: none;
      }
      &:last-child {
      }
    }
  }
}
